{% extends 'base.html' %}

{% block conteudo %}
<header>
  <h2 class="text-center my-4">Adicionar Novo Usuário</h2>
  <hr>
</header>

{%- for mensagem in get_flashed_messages() %}
    <div class="alert alert-danger">
       {{mensagem}}
    </div>
{%- endfor %}

<form action="{{ url_for('cadastro') }}" method="POST" class="form-control" id="form-cadastro" enctype="multipart/form-data">
  <div class="col-md-1">
    <div class="foto-container">
      <label for="foto-aluno" class="foto-upload">
        <img src="https://via.placeholder.com/120x150" alt="Foto 3x4 Usuário" id="foto-preview-aluno">
        <input type="file" id="foto-aluno" name="foto-aluno" accept="image/*" onchange="previewImage(this, 'foto-preview-aluno')">
      </label>
      <p class="text-center">Foto Usuário</p>
    </div>
  </div>

  <div class="form-group col-md-6 mb-3">
    <label for="cpf">CPF:</label>
    <input type="text" class="form-control" id="cpf" name="cpf" placeholder="Número do CPF" value="{{ request.form.cpf }}" required aria-required="true" aria-describedby="cpf-error">
    <div class="error-message" id="cpf-error"></div>
  </div>

  <div class="form-group col-md-8 mb-3">
    <label for="nome">Nome Completo:</label>
    <input type="text" class="form-control" id="nome" name="nome" placeholder="Digite o nome completo" value="{{ request.form.nome }}" required aria-required="true" aria-describedby="nome-error">
    <div class="error-message" id="nome-error"></div>
  </div>

  <div class="form-group col-md-8 mb-3">
    <label for="nome_mae">Nome da Mãe:</label>
    <input type="text" class="form-control" id="nome_mae" name="nome_mae" placeholder="Digite o nome completo" value="{{ request.form.nome_mae }}" required aria-required="true" aria-describedby="nome_mae-error">
    <div class="error-message" id="nome_mae-error"></div>
  </div>

  <div class="form-group col-md-4 mb-3">
    <label for="dn">Data de Nascimento:</label>
    <input type="date" class="form-control" id="dn" name="dn" value="{{ request.form.dn }}" required aria-required="true" aria-describedby="dn-error">
    <div class="error-message" id="dn-error"></div>
  </div>
   
  <div class="row">
    <div class="form-group col-md-4 mb-3">
      <label for="rg">RG:</label>
      <input type="text" class="form-control" id="rg" name="rg" placeholder="Número do RG" value="{{ request.form.rg }}" required aria-required="true" aria-describedby="rg-error">
      <div class="error-message" id="rg-error"></div>
    </div>
  </div>
  
  <div class="btn-container text-center">
    <button type="submit" class="btn btn-primary">Enviar Matrícula</button>
  </div>
</form>
{% endblock %}
